
body{
    background-color: darkslategrey;
}
#enterDetails{
        text-align: center;
        color: floralwhite;
}
#findDetails{
        text-align: center;
        color: floralwhite;
}
